{% extends 'base.html' %}

{% block title %}{{ title }}{{ block.super }}{% endblock %}

{% block sidebar %}
    {% include 'storage/includes/_sidebar.html' %}
{% endblock %}

{% block content %}
{#    обработка сообщений на странице  #}
    {% if messages %}
        <ul class="messages" id="messages-list">
            {% if messages %}
                {% for message in messages %}
                    <li>
                        {% if message.tags %}
                            <div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label>Введите название [А-я, A-z, 0-9 и пробел]</label>
            <input type="text"
                   class="form-control"
                   placeholder="Новое название папки"
                   name="new_folder_name"
                   pattern="^[А-Яа-яЁёa-zA-Z0-9\s]+$"
            >
        </div>
        <button type="submit" class="btn btn-primary">Переименовать папку</button>
    </form>
{% endblock %}
